{% extends "base.html" %}

{% block title %}Add New Product{% endblock %}

{% block content %}
<div class="container">
    <header class="page-header">
        <h2>Add Products</h2>
    </header>
    
    <section class="add-form-container">
        <form action="" class="add-form">
            <section class="add-form-group">

            </section>
            <section class="add-form-group">

            </section>
        </form>
    </section>
</div>  <!-- Closing .container div -->
{% endblock %}
